version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - maratona-java-data:/var/lib/mysql
    restart: always

volumes:
  maratona-java-data:
